* {
   box-sizing: border-box;
 }

 .body {
   min-height: 100vh;
 }


.footer {
   background-color: grey;
}

.footer-text {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 1em;
}

.cv-avatar {
   /* display: flex;
   justify-content: flex-start; */
   height: 200px;
   width: 200px;
   border-radius: 50%;
}